<h2>Reparaciones ICP</h2>
<hr>
<ul class="list-group">
    <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="list-group-item">Altas</li>
    <li routerLink="login" routerLinkActive="active" class="list-group-item">
        Login</li>
    <li routerLink="usuarios" routerLinkActive="active" class="list-group-item">Usuarios</li>
    <li routerLink="reparaciones" routerLinkActive="active" class="list-group-item">Reparaciones</li>
    <li routerLink="articulos" routerLinkActive="active" class="list-group-item">Articulos</li>
    <li routerLink="repuestos" routerLinkActive="active" class="list-group-item">Repuestos</li>
</ul>