<div class="container mt-5">

    <h2>Alta Reparación</h2>

    <hr>

    <div *ngIf="!articulosOpciones; else divFormulario" class="alert alert-info">
        Espere por favor...
    </div>

    <ng-template #divFormulario>
        <form [formGroup]="formularioAltaReparacion" (ngSubmit)="submitFormularioAltaReparacion()">
            <h5 for="modelo">Telefono:</h5>
            
            <div class="row">
                <div class="col-12">

                    <div class="row d-flex justify-content-center">
                        <div class="col-3">
                            <select formControlName="articulos" id="articulos" class="form-control select-telefono">
                                <option value="" class="text-center">Seleccione un modelo</option>
                                <option *ngFor="let articulo of articulosOpciones" [value]="articulo.id_Articulo" class="text-center">
                                    {{articulo.marca}} -
                                    {{articulo.modelo}}
                                </option>
                            </select>
                        </div>

                    </div>



                </div>

                <div class="row d-flex justify-content-center">
                    <div class="col-3 d-flex justify-content-center align-items-center alert alert-danger position-absolute mt-3"
                        *ngIf="formularioAltaReparacion.get('articulos').invalid && formularioAltaReparacion.get('articulos').touched">
                        Seleccione el articulo a reparar.

                    </div>
                </div>

            </div>


            <div class="col-12 d-flex justify-content-end mt-5">
                <button type="submit" [disabled]="formularioAltaReparacion.invalid"
                    class="btn btn-primary">Siguiente</button>
            </div>



        </form>

    </ng-template>
</div>