<div class="mx-auto dialog-container">

    <h3 class="text-center">Editar Articulo:</h3>

    <form [formGroup]="formularioAltaArticulo" (ngSubmit)="submitFormularioAltaArticulo()"
    class="d-flex flex-column">

    <label for="marcaArticulo" class="text-center">Marca:</label>

    <input type="text" id="MarcaArticulo" formControlName="marcaArticulo">

    <div *ngIf="formularioAltaArticulo?.get('marcaArticulo')?.invalid && formularioAltaArticulo?.get('marcaArticulo')?.touched"
        class="text-center">
        <div class="alert alert-danger position-absolute" *ngIf="formularioAltaArticulo?.get('marcaArticulo')?.errors?.['required']">La marca del Articulo es
            obligatoria</div>
    </div>

    <label for="fabricanteArticulo" class="text-center">Modelo:</label>

    <input type="text" id="modeloArticulo" formControlName="modeloArticulo">

    <div *ngIf="formularioAltaArticulo?.get('modeloArticulo')?.invalid && formularioAltaArticulo?.get('modeloArticulo')?.touched"
        class="text-center">
        <div class="alert alert-danger position-absolute" *ngIf="formularioAltaArticulo?.get('modeloArticulo')?.errors?.['required']">El modelo del Articulo es
            obligatorio</div>
    </div>

    <button type="submit" [disabled]="formularioAltaArticulo.invalid" class="mx-auto mt-4 btn btn-primary">Crear
        Articulo</button>

</form>
</div>