<h4 class="mt-2">Stocks</h4>
<button class="btn btn-primary" (click)="cargarStocks()">Recargar</button>
<hr>

<div *ngIf="!repuestosStock ; else divRepuestosStock" class="alert alert-info">
    Espere por favor...
</div>

<ng-template #divRepuestosStock>

    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                    <th>Fabricante</th>
                    <th>Stock</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let repuestoStock of repuestosStock">
                    <td>{{ repuestoStock.id_Repuesto }}</td>
                    <td>{{ repuestoStock.descripcion_Repuesto }}</td>
                    <td>{{ repuestoStock.fabricante }}</td>
                    <td>{{ repuestoStock.stock }}</td>
                    <td><button (click)="cambiarStock(repuestoStock.id_Repuesto, repuestoStock.stock)"
                            class="btn btn-primary">Cambiar Stock</button></td>
                </tr>
            </tbody>
        </table>
    </div>

</ng-template>