<h4>Repuestos</h4>
<hr>

<div *ngIf="!repuestosStock ; else divRepuestosStock" class="alert alert-info">
    Espere por favor...
</div>

<ng-template #divRepuestosStock>

    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                    <th>Fabricante</th>
                    <th>Peso</th>
                    <th>Alto</th>
                    <th>Largo</th>
                    <th>Ancho</th>
                    <th>Imagen</th>
                    <th>Stock</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let repuestoStock of repuestosStock">
                    <td>{{ repuestoStock.id_Repuesto }}</td>
                    <td>{{ repuestoStock.descripcion_Repuesto }}</td>
                    <td>{{ repuestoStock.fabricante }}</td>
                    <td>{{ repuestoStock.peso }}</td>
                    <td>{{ repuestoStock.alto }}</td>
                    <td>{{ repuestoStock.largo }}</td>
                    <td>{{ repuestoStock.ancho }}</td>
                    <td>{{ repuestoStock.imagen }}</td>
                    <td>{{ repuestoStock.stock }}</td>
                    <td><button (click)="cambiarStock(repuestoStock.id_Repuesto)" class="btn btn-primary">Cambiar Stock</button></td>      
                </tr>
            </tbody>
        </table>
    </div>
    
</ng-template>