<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">

        <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
            <div class="mt-4">
                <label for="correoElectronico" class="text-center">Correo electrónico:</label>
                <input type="text" class="form-control" placeholder="Email" formControlName="email">
            </div>
            <div class="mt-4">
                <label for="password" class="text-center">Contraseña:</label>
                <input type="password" class="form-control" placeholder="Password" formControlName="password">
            </div>
            <div class="mt-4">
                <input class="btn btn-primary" type="submit" value="Login">
            </div>
        </form>

    </div>
</div>