<div class="mx-auto dialog-container">

    <h3 class="text-center">Actualizar Estado:</h3>

    <form [formGroup]="formularioReparacion" (ngSubmit)="submitFormularioReparacion()" class="d-flex flex-column">

        <label for="estado" class="text-center">Estado:</label>

        <select id="estado" formControlName="estado">

            <option *ngFor="let opcion of opcionesEstado.values()" [value]="opcion" class="text-center">{{opcion}}</option>

        </select>

        <div *ngIf="formularioReparacion?.get('estado')?.invalid && formularioReparacion?.get('estado')?.touched"
            class="text-center">
            <div *ngIf="formularioReparacion?.get('estado')?.errors?.['required']">El estado es obligatorio</div>
        </div>

        <button type="submit" class="mx-auto mt-4 btn btn-primary">Actualizar Estado</button>

    </form>
</div>
