<div class="container mt-5">

    <h2>Alta Reparacion</h2>

    <hr>

    <div *ngIf="!sintomasOpciones ; else divFormulario" class="alert alert-info">
        Espere por favor...
    </div>

    <ng-template #divFormulario>
        <form [formGroup]="formularioAltaReparacion" (ngSubmit)="submitFormularioAltaReparacion()">

            <h5>Opciones de reparación:</h5>

            <div class="row d-flex justify-content-center">

                <div class="col-3 d-flex justify-content-center align-items-center flex-column card"
                    *ngFor="let s of sintomasFormArray.controls; let i = index">

                    <label formArrayName="sintomas">
                        <input type="checkbox" [formControlName]="i">
                        {{sintomasOpciones[i].descripcion_Sintoma}}
                    </label>

                </div>

                <div class="alert alert-danger"
                    *ngIf="formularioAltaReparacion.get('sintomas').invalid && formularioAltaReparacion.get('sintomas').touched">
                    Seleccione al menos un sintoma.
                </div>

            </div>

            <div class="col-12 d-flex justify-content-end mt-5">
                <button type="submit" [disabled]="formularioAltaReparacion.invalid"
                    class="btn btn-primary">Siguiente</button>
            </div>

        </form>

    </ng-template>
</div>