
<div class="container d-flex justify-content-evenly align-items-center cuerpo">
                <mat-card class="card" routerLink="alta" routerLinkActive="active">
                    <mat-card-header>
                        <mat-card-title>
                            <h4>Alta</h4>
                        </mat-card-title>
                    </mat-card-header>
                </mat-card>


            <mat-card class="card" routerLink="administracion/login" routerLinkActive="active">
                <mat-card-header>
                    <mat-card-title>
                        <h4>Administración</h4>
                    </mat-card-title>
                </mat-card-header>
            </mat-card>



    
</div>