<div class="mx-auto dialog-container">

    <h3 class="text-center">Editar Repuesto:</h3>

    <form [formGroup]="formularioEditarRepuesto" (ngSubmit)="submitFormularioEditarRepuesto()" class="d-flex flex-column">

        <label for="descripcionRepuesto" class="text-center">Descripción:</label>

        <input type="text" id="descripcionRepuesto" formControlName="descripcionRepuesto">

        <div *ngIf="formularioEditarRepuesto?.get('descripcionRepuesto')?.invalid && formularioEditarRepuesto?.get('descripcionRepuesto')?.touched"
            class="text-center">
            <div class="alert alert-danger position-absolute" *ngIf="formularioEditarRepuesto?.get('descripcionRepuesto')?.errors?.['required']">La descripción del repuesto es obligatoria</div>
        </div>

        <label for="fabricanteRepuesto" class="text-center">Fabricante:</label>

        <input type="text" id="fabricanteRepuesto" formControlName="fabricanteRepuesto">

        <div *ngIf="formularioEditarRepuesto?.get('fabricanteRepuesto')?.invalid && formularioEditarRepuesto?.get('fabricanteRepuesto')?.touched"
            class="text-center">
            <div class="alert alert-danger position-absolute" *ngIf="formularioEditarRepuesto?.get('fabricanteRepuesto')?.errors?.['required']">El fabricante del repuesto es
                obligatorio</div>
        </div>

        <label for="pesoRepuesto" class="text-center">Peso:</label>

        <input type="number" id="pesoRepuesto" formControlName="pesoRepuesto" min="0">

        <div *ngIf="formularioEditarRepuesto?.get('pesoRepuesto')?.invalid && formularioEditarRepuesto?.get('pesoRepuesto')?.touched"
            class="text-center">
            <div class="alert alert-danger position-absolute" *ngIf="formularioEditarRepuesto?.get('pesoRepuesto')?.errors?.['required']">El peso del repuesto es
                obligatorio</div>
        </div>

        <label for="altoRepuesto" class="text-center">Alto:</label>

        <input type="number" id="altoRepuesto" formControlName="altoRepuesto" min="0">

        <div *ngIf="formularioEditarRepuesto?.get('altoRepuesto')?.invalid && formularioEditarRepuesto?.get('altoRepuesto')?.touched"
            class="text-center">
            <div class="alert alert-danger position-absolute" *ngIf="formularioEditarRepuesto?.get('altoRepuesto')?.errors?.['required']">El alto del repuesto es
                obligatorio</div>
        </div>

        <label for="largoRepuesto" class="text-center">Largo:</label>

        <input type="number" id="largoRepuesto" formControlName="largoRepuesto" min="0">

        <div *ngIf="formularioEditarRepuesto?.get('largoRepuesto')?.invalid && formularioEditarRepuesto?.get('largoRepuesto')?.touched"
            class="text-center">
            <div class="alert alert-danger position-absolute" *ngIf="formularioEditarRepuesto?.get('largoRepuesto')?.errors?.['required']">El largo del repuesto es
                obligatorio</div>
        </div>

        <label for="anchoRepuesto" class="text-center">Ancho:</label>

        <input type="number" id="anchoRepuesto" formControlName="anchoRepuesto" min="0">

        <div *ngIf="formularioEditarRepuesto?.get('anchoRepuesto')?.invalid && formularioEditarRepuesto?.get('anchoRepuesto')?.touched"
            class="text-center">
            <div class="alert alert-danger position-absolute" *ngIf="formularioEditarRepuesto?.get('anchoRepuesto')?.errors?.['required']">El ancho del repuesto es
                obligatorio</div>
        </div>

        <label for="imagenRepuesto" class="text-center">Imagen:</label>

        <input type="file" accept="image/png, image/jpeg, image/png" id="imagenRepuesto" formControlName="imagenRepuesto" (change)="handleFileSelect($event)">

        <div *ngIf="formularioEditarRepuesto?.get('imagenRepuesto')?.invalid && formularioEditarRepuesto?.get('imagenRepuesto')?.touched"
            class="text-center">
            <div class="alert alert-danger position-absolute" *ngIf="formularioEditarRepuesto?.get('imagenRepuesto')?.errors?.['required']">La imagen del repuesto es
                obligatoria</div>
        </div>

        <button type="submit" [disabled]="formularioEditarRepuesto.invalid" class="mx-auto mt-4 btn btn-primary">Editar Repuesto</button>

    </form>
</div>