<div class="mx-auto dialog-container">

    <h3 class="text-center">Cambia tu contraseña:</h3>

    <form [formGroup]="formularioResetPassword" (ngSubmit)="submitResetPassword()"
        class="d-flex flex-column">

        <label for="password" class="text-center">Nueva Contraseña:</label>

        <input type="text" id="password" formControlName="password">

        <div *ngIf="formularioResetPassword?.get('marcaArticulo')?.invalid && formularioResetPassword?.get('marcaArticulo')?.touched"
            class="text-center">
            <div class="alert alert-danger position-absolute" *ngIf="formularioResetPassword?.get('marcaArticulo')?.errors?.['required']">La contraseña es
                obligatoria</div>
        </div>

        <button type="submit" [disabled]="formularioResetPassword.invalid" class="mx-auto mt-4 btn btn-primary">Cambiar contraseña</button>

    </form>
</div>