
<div class="container d-flex justify-content-evenly align-items-center cuerpo">
    <mat-card class="card" routerLink="./usuarios" routerLinkActive="active">
        <mat-card-header>
            <mat-card-title>
                <h4>Usuarios</h4>
            </mat-card-title>
        </mat-card-header>
    </mat-card>


<mat-card class="card" routerLink="reparaciones" routerLinkActive="active">
    <mat-card-header>
        <mat-card-title>
            <h4>Reparaciones</h4>
        </mat-card-title>
    </mat-card-header>
</mat-card>

<mat-card class="card" routerLink="articulos" routerLinkActive="active">
    <mat-card-header>
        <mat-card-title>
            <h4>Articulos</h4>
        </mat-card-title>
    </mat-card-header>
</mat-card>

<mat-card class="card" routerLink="repuestos" routerLinkActive="active">
    <mat-card-header>
        <mat-card-title>
            <h4>Repuestos</h4>
        </mat-card-title>
    </mat-card-header>
</mat-card>



</div>