<div class="mx-auto dialog-container">

    <h3 class="text-center">Editar Usuario:</h3>

    <form [formGroup]="formularioEditarUsuario" (ngSubmit)="submitFormularioEditarUsuario()" class="d-flex flex-column">

        <label for="nombreUsuario" class="text-center">Nombre de usuario:</label>

        <input type="text" id="nombreUsuario" formControlName="nombreUsuario">

        <div *ngIf="formularioEditarUsuario?.get('nombreUsuario')?.invalid && formularioEditarUsuario?.get('nombreUsuario')?.touched"
            class="text-center">
            <div class="alert alert-danger position-absolute" class="position-absolute" *ngIf="formularioEditarUsuario?.get('nombreUsuario')?.errors?.['required']">El nombre de usuario es
                obligatorio</div>
        </div>

        <label for="passUsuario" class="text-center">Contraseña de usuario:</label>

        <input type="text" id="passUsuario" formControlName="passUsuario">

        <div *ngIf="formularioEditarUsuario?.get('passUsuario')?.invalid && formularioEditarUsuario?.get('passUsuario')?.touched"
            class="text-center">
            <div class="alert alert-danger position-absolute" *ngIf="formularioEditarUsuario?.get('passUsuario')?.errors?.['required']">La contraseña de usuario es
                obligatoria</div>
        </div>

        <label for="correoElectronico" class="text-center">Correo electrónico:</label>

        <input type="email" id="correoElectronico" formControlName="correoElectronico">

        <div *ngIf="formularioEditarUsuario?.get('correoElectronico')?.invalid && formularioEditarUsuario?.get('correoElectronico')?.touched"
            class="text-center">
            <div class="alert alert-danger position-absolute" *ngIf="formularioEditarUsuario?.get('correoElectronico')?.errors?.['required']">El correo electrónico
                es
                obligatorio</div>
            <div class="alert alert-danger position-absolute" *ngIf="formularioEditarUsuario?.get('correoElectronico')?.errors?.['email']">El correo electrónico no
                es
                válido</div>
        </div>


        <label for="perfil" class="text-center">Perfil:</label>

        <select id="perfil" formControlName="perfil">

            <option *ngFor="let opcion of opcionesPerfil" [value]="opcion.id_Perfil" class="text-center">
                {{opcion.descripcion_Perfil}}</option>

        </select>

        <div *ngIf="formularioEditarUsuario?.get('perfil')?.invalid && formularioEditarUsuario?.get('perfil')?.touched"
            class="text-center">
            <div class="alert alert-danger position-absolute" *ngIf="formularioEditarUsuario?.get('perfil')?.errors?.['required']">El perfil es obligatorio</div>
        </div>

        <button type="submit" [disabled]="formularioEditarUsuario.invalid" class="btn btn-primary mx-auto mt-4">Editar
            usuario</button>

    </form>
</div>