<div class="mx-auto dialog-container">

    <h3 class="text-center">Editar Articulo:</h3>

    <form [formGroup]="formularioEditarArticulo" (ngSubmit)="submitFormularioEditarArticulo()"
        class="d-flex flex-column">

        <label for="marcaArticulo" class="text-center">Marca:</label>

        <input type="text" id="MarcaArticulo" formControlName="marcaArticulo">

        <div *ngIf="formularioEditarArticulo?.get('marcaArticulo')?.invalid && formularioEditarArticulo?.get('MarcaArticulo')?.touched"
            class="text-center">
            <div *ngIf="formularioEditarArticulo?.get('marcaArticulo')?.errors?.['required']">La marca del Articulo es
                obligatoria</div>
        </div>

        <label for="fabricanteArticulo" class="text-center">Modelo:</label>

        <input type="text" id="modeloArticulo" formControlName="modeloArticulo">

        <div *ngIf="formularioEditarArticulo?.get('modeloArticulo')?.invalid && formularioEditarArticulo?.get('modeloArticulo')?.touched"
            class="text-center">
            <div *ngIf="formularioEditarArticulo?.get('modeloArticulo')?.errors?.['required']">El modelo del Articulo es
                obligatorio</div>
        </div>

        <button type="submit" [disabled]="formularioEditarArticulo.invalid" class="mx-auto mt-4 btn btn-primary">Editar
            Articulo</button>

    </form>
</div>